
  body{
    margin:auto;
    background-color: #12a370;
  }
  .container{
    display:flex;
    flex-direction:column;
    text-align:center;
    font-size:40px;
    background-color: black;
    padding: 2%;
  }

  button {
    width: 50%;
    height: 40px;
    font-size: 130%;
    background-color: #5b5c5e;
    color: white;
    font-family: 'Staatliches';
    cursor: pointer;
  }


  a {
    font-size: 40%;
    margin-top: 1%;
    color: white;
  }


  .logo {
    margin: auto;
    width: 8%;
    background-color: #12a370;
    color: #12a370;
    border-radius: 20px;
    box-shadow: 15px 5px gray;
    margin-bottom: 25px;
    margin-top: 25px;
  }

  .logo2 {
    background-color: black;
    font-family: 'Staatliches';
    font-size: 70%;
  }

  @media  screen and (max-width: 1500px){
    .logo {
        width: 10%;
    }
  }

  @media  screen and (max-width: 1000px){
    .logo {
        width: 15%;
    }
  }

  @media  screen and (max-width: 600px){
    .logo {
		    width: 20%;
    }
  }

  @media  screen and (max-width: 450px){
    .logo {
		    width: 30%;
    }
  }

  @media  screen and (max-width: 390px){
    .logo {
		    width: 40%;
    }
  }
